*.iml
.gradle
/local.properties
/.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/backend/__pycache__/
venv
app/.idea
app/gradle
app/local
/backend/app.db
/backend/photos/